h1 {
  font-size: 40px;
  font-weight: 900;
  margin: 10px;
  margin-bottom: 20px;
}
input{
  width: 100%;
}

.my-row{
  margin: 10px 40px;
}
.my-button{
  margin: 10px;
  /* width: 80px; */
  width: 80px;
   padding: 10px 20px; 
}
.todo-item-container{
 text-align: left; 
}